/*****************************
*  General Styles and Reset  *
******************************/

:root {
  --site-blue: #1b93d7;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #455;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  background-image: url('https://images.pexels.com/photos/1626481/pexels-photo-1626481.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 1.9em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  padding: 0 10px;
  margin: auto;
}

main .wrapper {
  padding: 50px 15px;
}

/*******************
*  Heading Styles  *
********************/

.site-header {
  background: #1b93d7;
  text-align: center;
  color: #fff;
}

.site-header .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.site-header__h1 {
  margin: 2rem 0;
}

.site-header__subtitle {
  margin: 0 0 2rem 0;
}

/****************
*  Post Styles  *
*****************/

.post {
  padding: 20px;
  margin-bottom: 50px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5), 0 5px 8px rgba(0, 0, 0, 0.5);
}

.post img {
  display: block;
  width: 100%;
}

.title {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #e43b48;
}

.artist {
  color: #1b93d7;
  font-weight: bold;
  font-size: 1.2rem;
}

.post-date {
  color: #e43b48;
  border-top: 1px solid;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  text-align: right;
}

/******************************************
*  CSS to make the video behave properly  *
*******************************************/

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin: 2rem auto;
  width: 90%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/******************
*  Footer Styles  *
*******************/

.site-footer {
  background: #333;
  text-align: center;
  color: #fff;
  padding: 2rem 0;
}

.site-footer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-text {
  margin: 0.2rem 0;
}

.footer-link {
  color: #fff;
}

/***************
*  Pagination  *
****************/

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.page-item {
  display: inline;
  margin: 0 0.3rem;
}

.page-link {
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #333;
  font-family: monospace;
  font-size: 1.4rem;
  text-decoration: none;
  color: #455;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: rgb(250, 186, 182);
}

.page-link.active {
  background-color: var(--site-blue);
  color: #fff;
}

.page-link.active:hover {
  background-color: #70c5f7;
}
